li {
  list-style: none;
  margin: 10px;
}

.team-container {
  margin: 10px;
  padding: 10px;
}

.available-container {
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
